<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SICANTIK</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Selamat datang di SICANTIK</h1>
    <nav>
      <ul>
        <li><a href="#">Penyimpanan</a></li>
        <li><a href="#">Pengarsipan</a></li>
        <li><a href="#">Pencatatan</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <!-- disini tambahi tombol sih -->
    <div class="archive-box" onclick="handleClick()">
        <img src="https://colab.research.google.com/drive/1p_gmQkFsbV6kh-LMV5SuunDYoJQfMOKO" alt="Archive Icon">
        <p>Tap to Archive</p>
    </div>
    
     <script src="  script.js"></script>
  </main>

  <footer>
    <p>&copy; 2024 SICANTIK</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>